body {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size:  40px;
  font-weight: bold;
  text-align: center;
  margin: 30px;
  color: #c0392b;
}

input {
  font-size: 18px;
}

p {
  margin: 10px;
}

.grudge-form {
  margin: 20px;

}

.input-field, #sorting-btns, #counts-display {
  margin: 10px;

}

.burn-item {
  margin: 10px;
  text-align: left;
}

.burn-category {
  font-weight: bold;
}

.list-container {
  margin: auto;
  width: 60%;
}

#instructions {
  margin: 10px;
}

#offender-header {
  font-size: 22px;
  font-weight: bold;
  margin: 20px;
}

#burn-list-header {
  font-size: 26px;
  font-weight: bold;
}

#sort-name-btn, #sort-date-btn, .submit-btn, .forgive-btn {
  border: 2px solid black;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

#counts-display article {
  margin: 10px;
  display: inline-block;
}
